$nav_item_margin_right: 40px;
$nav_item_size: 18px;
$nav_item_weight: 500;
$text_decor: none;
$nav_color: #000;
$active_nav_color: red;
$nav_transition: .3s ease;
// Navigation bar item variables end
//=====================================================

// header variables

$header_bg: #ccc;
$header_padding: 20px;
$button_margin_right: 15px;

// header variables end

$card_item_margin_top: 50px;
$card_item_height: 500px;
$card_item_img_height: 70%;
$card_item_width: 100%;
$card_item_img_object_fit: cover;